* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgba(229, 229, 229, 0.45);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

.todo {

}

.app {
    width: 500px;
    margin: auto;
}

.app__title {
    color: rgba(175, 47, 47, 0.15);
    font-size: 100px;
    font-weight: 100;
    text-align: center;
}

.app__form1 {
    position: relative;
}

.app__arrow {
    position: absolute;
    top: 0;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
}

.app__field {
    width: 100%;
    border: none;
    background: #fff;
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
    font-size: 20px;
    outline-style: none;
}

.app__field1--pl {
    padding: 16px 16px 16px 60px;
}

.app__field::placeholder {
    font-size: 20px;

}

/*item*/
.items {
    margin-top: 15px;
    padding: 5px;
}

.item {
    position: relative;
    width: 100%;
 }

.item__text {
    margin-left: 10px;
}

.p-16 {
    padding: 16px;
}

.completed {
    color: rgba(40, 39, 29, 0.25);
    text-decoration: line-through
}

.uncompleted {
    color: #656464;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

/*close*/
.close {
    position: absolute;
    bottom: 20px;
    right: 5px;
    border: none;
    margin-left: 34px;
    background-color: transparent;
    color: #f00;
    cursor: pointer;
    font-size: 20px;
    outline-style: none;
}

/*toolbar*/
.toolbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 13px;
}

.toolbar__btn {
    margin-left: 5px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px;
    outline-style: none;
    cursor: pointer;
}

.toolbar__btn--active,
.toolbar__btn--border {
    border-color: #adadad;
}
